<section id="article_show">
  <div class="container">
    <div class="row">
      <div class="col-sm4 col-md-3">
        <div class="thumbnail">
          <%= image_tag("img.jpg" , :alt => "img-product") %>
          <div class="caption article_title" >
            <div class="function_article">
            </div>
            <h3><%= @staffs.email %></h3>
            <p><%= @staffs.role %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
