<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <section id="logo">
          <div>Site<span>Random</span></div>
        </section>   
      </div>
      <div class="col-xs-6">
        <section id="register">
          <div class="sginup">
            
            <input type="text" name="id" placeholder="username">
            <input type="password" name="psw" placeholder="password">
            <button type="submit" class="btn-submit btn btn-defaul">Login</button>
          </div>
        </section> 
      </div>
    </div>
  </div>
</div>