<section id="infor_product">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
         <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="sp1"><img src="http://dvkhfbm6djrbs.cloudfront.net/57fe0dd9c1f23e21713f3eaa/58f0846415554a0131dda1ea/sp1.jpg" alt="img-sp"></div>
          <div role="tabpanel" class="tab-pane" id="sp2"><img src="http://dvkhfbm6djrbs.cloudfront.net/57fe0dd9c1f23e21713f3eaa/58f0846415554a0131dda1ea/sp2.jpg" alt="img-sp"></div>
       
          <div role="tabpanel" class="tab-pane" id="sp5"><img src="http://dvkhfbm6djrbs.cloudfront.net/57fe0dd9c1f23e21713f3eaa/58f0846415554a0131dda1ea/sp5.jpg" alt="img-sp"></div>
          <div role="tabpanel" class="tab-pane" id="sp6"><img src="http://dvkhfbm6djrbs.cloudfront.net/57fe0dd9c1f23e21713f3eaa/58f0846415554a0131dda1ea/sp6.jpg" alt="img-sp"></div>
          <div role="tabpanel" class="tab-pane" id="sp7"><img src="http://dvkhfbm6djrbs.cloudfront.net/57fe0dd9c1f23e21713f3eaa/58f0846415554a0131dda1ea/sp-7.jpg" alt="img-sp"></div>
        </div>
      </div>
      <div class="col-lg-1 tabs-item">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#sp1" aria-controls="home" role="tab" data-toggle="tab"><img src="http://dvkhfbm6djrbs.cloudfront.net/57fe0dd9c1f23e21713f3eaa/58f0846415554a0131dda1ea/sp-min1.jpg" alt="img"></a></li>
          <li role="presentation"><a href="#sp2" aria-controls="profile" role="tab" data-toggle="tab"><img src="http://dvkhfbm6djrbs.cloudfront.net/57fe0dd9c1f23e21713f3eaa/58f0846415554a0131dda1ea/sp-min3.jpg" alt="img"></a></li>

          <li role="presentation"><a href="#sp5" aria-controls="profile" role="tab" data-toggle="tab"><img src="http://dvkhfbm6djrbs.cloudfront.net/57fe0dd9c1f23e21713f3eaa/58f0846415554a0131dda1ea/sp-min5.jpg" alt="img"></a></li>
          <li role="presentation"><a href="#sp6" aria-controls="messages" role="tab" data-toggle="tab"><img src="http://dvkhfbm6djrbs.cloudfront.net/57fe0dd9c1f23e21713f3eaa/58f0846415554a0131dda1ea/sp-min6.jpg" alt="img"></a></li>
          <li role="presentation"><a href="#sp7" aria-controls="settings" role="tab" data-toggle="tab"><img src="http://dvkhfbm6djrbs.cloudfront.net/57fe0dd9c1f23e21713f3eaa/58f0846415554a0131dda1ea/sp-min7.jpg" alt="img"></a></li>
        </ul>

      </div>
      <div class="col-lg-5">
        <div class="thumbnail">
          <h3><%= @product.title %></h3>
          <div class="caption">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-6">
                  <div class="brand">
                    <span ><%= @product.content %></span>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="price">
                    <p class="old_price">Gia cu : 595.000₫</p>
                    <p class="new_price">295₫</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div>
          <p>Designed with two handles, this natural seagrass foldable basket is great for kitchen and other household storages. When not in use, it folds flat for easy storage. It is easy to put up and fold to store. </p>
          <p>Brand: Diabolo Square</p>
          <p>Material: Natural Seagrass</p>
          <p>Origin: Vietnam</p>
          <p>Dimension: </p>
          <ul>
            <li><span>Height: 45 cm</span></li>
            <li><span>Length: 35 cm</span></li>
            <li><span>Width: 17 cm</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>