<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>mmenu</title>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/6.0.2/jquery.mmenu.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/6.0.2/jquery.mmenu.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <div>
    <header>
      <button id="menu_button"> menu</button>
    </header>
    <section>
      <p>dhkkjfldjflkdjfl rerejrle re rejrlejrjelrj lejrlejre re jrelj rjljakljrla r arlajrljaljr a ra rljrjrlr lajrjiio4 434 </p>
    </section>
  </div>
  <nav id="my-menu">
     <ul>
        <li><a href="/">Home</a></li>
        <li><span>About us</span>
           <ul>
              <li><a href="/about/history">History</a></li>
              <li><a href="/about/team">The team</a></li>
              <li><a href="/about/address">Our address</a></li>
           </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
     </ul>
  </nav>
</body>
</html>